@import 'theme';

.user-card {
  background: $surface-primary;
  border: 1px solid $border-primary;
  border-radius: $spacing-1;
  color: $surface-contrast;
  padding: $spacing-2;
  display: flex;
  flex-direction: column;
  gap: $spacing-2;
  justify-content: space-between;

  .address {
    color: $palette-secondary;
  }

  .toolbar {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-1;
  }
}
