/* PRIMITIVES */
$color-blue: blue;
$color-grey: grey;
$color-grey-100: #f2f2f3;
$color-grey-200: #d7d9da;
$color-grey-300: #bdc0c2;
$color-grey-400: #a2a7a9;
$color-grey-500: #888e91;
$color-grey-600: #6e7577;
$color-grey-700: #565b5d;
$color-grey-800: #3d4142;
$color-grey-900: #252728;

$color-black: black;
$color-white: white;

/* SEMANTIC */
$palette-primary: $color-blue;
$palette-secondary: $color-grey;
$surface-primary: $color-white;
$surface-contrast: $color-black;
$border-primary: $color-grey-200;
